:root {
  --default-input-bgcolor: rgb(235, 200, 155);
  --button-gradient: linear-gradient(to top right, rgb(235, 200, 155,0.9) 50%, rgba(231, 182, 118, 0.9)),
  linear-gradient(to top left, rgb(235, 200, 155,0.9) 50%, rgb(231, 182, 118,0.9))
}
.modalOuterDiv {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 8;
  color:black;
}

.modalInnerDiv {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 25%;
  top: 25%;
  background-color: rgba(254, 254, 254, 1);
  border: 3px ridge black;
  border-radius: 15px;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
  z-index: 8;
  color:black;
}
/*=============================================*/
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/wood-pattern.png");
  font-family: Arial, Helvetica, sans-serif, Geneva, Tahoma, sans-serif;
  background-color: #705000;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); 
  font-size: 14px;
}
.smallitalic {
  font-size: .7rem;
  font-style: italic;
  color: rgb(100, 100, 100);
}

.outerContainer {
  display: grid;
  width: 99%;
  height: 99%;
  grid-template-areas:
  "top middle"
  "top bottom";
  grid-template-columns: 65% 35%;
  grid-template-rows: 75% auto;
}

.topSection {
  grid-area: top;
  display: flex;
  justify-content: center;
  align-items: top;
}

.middleSection {
  grid-area: middle;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  /* border: 2px solid white; */
}

.bottomSection {
  grid-area: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokerTableDiv {
  width: 80%;
  height: 80%;
  background-color: #228B22; 
  border: 20px solid transparent; /* Transparent border to create space */
  border-radius: 50%; /* Rounded corners to make it look like a table */
  background-clip: padding-box, border-box;
  background-image:
    linear-gradient( #228B22,  #3f883f, #228B22 ), 
    linear-gradient( #8b4513bb,#a0512ddd, #8b4513bb);/* Wood-like gradient */
  background-origin: border-box;
  background-clip: padding-box, border-box;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1), inset 0 0 10px  #000; 
  position: relative;
  z-index: 1;
  /* overflow: hidden; */
}

.playerGrid {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 0.1fr 1fr 1fr 1fr 0.1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 0.1fr 1fr .1fr 1fr 1fr;
  gap: 0px;
  margin:0px;
}

.grid-cell {
  border: 1px solid black; /* Border around each grid cell */
  z-index: 2;
}

.playerGrid > .playerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid transparent;  /* special effect may have border */
  color: white;
  border-radius: 50%;
  width: 100%;
  height:100%;
  /* box-sizing: border-box;  */
  margin: 0; /* Remove any margin */
  padding: 0; /* Remove any padding */
  /* overflow: hidden; */
  /* max-width: 100%;
  max-height: 100%; */
  z-index:3; 
}

.playerTopLeft { grid-area: 1 / 4/ 1/ 5; }/* start row, start column, end row, end column */
.playerTopRight { grid-area: 1 / 6 / 1 / 7; }
.playerLeftTop { grid-area: 2 / 2 / 2 / 3; }
.playerLeftCenter { grid-area: 4 / 1 / 4/ 2; }
.playerLeftBottom { grid-area: 6 / 2 / 6 / 3; }
.playerRightTop { grid-area: 2/ 8 / 2 / 9; }
.playerRightCenter { grid-area: 4 / 9 / 4 / 9; }
.playerRightBottom { grid-area: 6 / 8 / 6 / 9; }
.playerCurrent { grid-area: 7 / 5 / 7 / 6; }
.playerTopCenter  { grid-area: 1/ 5 / 1 / 6; }
.playerPot { grid-area: 4 / 5 / 4 / 6; }
.playerVote { grid-area: 6 / 5 / 6 / 6; }

/* Phone */
@media (max-width: 768px) {
  .outerContainer {
    display: grid;
    width: 99%;
    height: 100%;
    grid-template-areas:
        "top"
        "middle"
        "bottom";
        grid-template-columns: 1fr;     
    grid-template-rows: 80% 10% 10%;
    padding: 0;
    margin: 0;
    gap: 0;
  }
  .bottomSection {
    grid-area: bottom;
  }
  .topSection {
    grid-area: top;
  }
  .middleSection {
    grid-area: middle;
  }
  .bottomSection {
    grid-area: bottom;
  }
  .grid-cell {
    border: 1px solid yellow;
  }
}

/*** Bet input screen styles **/
.addedInputScreen {
  background-color: white;
  color: black;
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  position: absolute;
  background-image: url('../images/wood-pattern.png');
  border-radius: 10px;
  z-index: 4;
  text-shadow: none;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
}
.addedInputScreenInput {
  padding: 5px;
  margin: 0px;
  border: 1px solid black;
  background: white;
  border-radius: 5px;
  font-weight: bold;
}

/* margin: 10px 20px 30px 40px; /* Top will have a margin of 10px, right will have a margin of 20px, bottom will have a margin of 30px, left will have a margin of 40px */
textarea {
  width: 100%; 
  height: 100%; 
  flex-grow: 1; 
  background-color: white;
  opacity: 0.6;
  font-weight: 900;
  font-style: oblique;
  resize: none;
  border-radius: 5px;
}

.textADiv{
  width: 99%;
  height: 99%;
  background-color:transparent;
  border-radius: 15px;
  display: flex; /* Use flexbox to align child elements */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  overflow: hidden;
  margin: 5px 0px 0px 5px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-width: 1px;
}

#winner-checkmark {
  /* display: inline-block;
  vertical-align: middle; */
  cursor: pointer;
  /* margin-left: 5px; */
}

#select-winner-logo {
  /* display: inline-block;
  vertical-align: middle; */
  cursor: pointer;
  /* margin-left: 5px; */
}

.dynamicGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5px, 1fr)); 
  gap: 1px; 
  width: 99%;
}

.dynamicGrid > .grid-item-dynamic {
  background-color:transparent;
  padding: 0px; 
  text-align: center; 
  width:100%;
  height:100%;
}

.playerDealer {
  color:black!important;
  text-decoration-color: black;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5)!important; 
}

.playerTurn {
  position: relative;
  width:100%;
  height: 100%; 
  margin: 0; 
  padding: 0;
  border: 1px solid white!important; 
}

.playerTurn::before {
  content: '';
  position: absolute;
  width: 2px; /* Width of the spinning line */
  height: 35%; /* Length of the spinning line */
  background-color: white; /* Color of the spinning line */
  transform-origin: center;
  animation: spin 60s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg) translate(-50%, -50%);
  }
  100% {
      transform: rotate(360deg) translate(-50%, -50%);
      background-color: red;
  }
}
.playerFold {
  width: 100%;
  height: 100%;
  background-color: rgb(61, 38, 38, 0.8) !important;
  z-index: 5;
}

.playerOut {
  position: relative;
  width: 100%;
  height: 100%;
}

.playerOut::before,
.playerOut::after {
  content: '';
  position: absolute;
  width: 5px; 
  height: 90%; 
  background-color: rgb(61, 38, 38);
  transform-origin: center;
}

.playerOut::before {
  transform: rotate(45deg);
}

.playerOut::after {
  transform: rotate(-45deg);
}

/* player all in */
.playerAllIn {
  position: relative;
  width: 100%;
  height: 100%;
}
.playerAllIn::after {
  content: '$$';
  position: absolute;
  font-size: 5rem; /* Adjust the size as needed */
  color: rgb(61, 38, 38, 0.6);
  transform-origin: center;
  text-decoration: none;
  text-shadow: none!important; 
}

.playerAllIn::before {
  content: '';
  position: absolute;
  width: 6rem; 
  height: 6rem; 
  border: 5px solid rgba(61, 38, 38, 0.6); 
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* player all in */
/* Player Broke */
.playerBroke {
  position: relative;
  width: 100%;
  height: 100%;
}
.playerBroke::after {
  content: '';
  position: absolute;
  width: 6rem; 
  height: 6rem; 
  border: 5px solid rgba(61, 38, 38, 0.6); 
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.playerBroke::before {
  content: '';
  position: absolute;
  width: 6rem; 
  height: 0.5rem;
  background-color: rgba(61, 38, 38, 0.6); 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
/* Player Broke */

.svg-container-border {
  width: 100%;
  height: 50vh;
  border: 1px solid black;
  position: relative;
  margin: 0px;
  cursor: pointer;
}

.svg-container {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0px;
  cursor: pointer;
}

.svg-column {
  position: absolute;
  bottom: 0;
  width: 100%;
  cursor: pointer;
}

.grid-container5x4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  /* grid-template-rows: repeat(5, 1fr);  */
  grid-template-rows: 1fr 0.4fr 0.2fr 0.1fr 0.2fr; 
  gap: 0px; 
  width: 100%;
  height: 100%;
}

.grid-item5x4 {
  display: flex;
  flex-direction: column;
  background-color:transparent; 
  /* border: 1px solid black;  */
  justify-content: center;
  align-items: center;
  /* font-size: 1.5rem;  */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: 1fr 0.08fr 0.04fr; 
  gap: 1px; 
  width: 100%;
  height: 100%;
}

.grid-item {
  display: flex;
  flex-direction: column;
  background-color:transparent; 
  /* border: 1px solid black;  */
  justify-content: center;
  align-items: center;
  /* font-size: 1.5rem;  */
}

.hr-item {
  grid-column: 1 / -1;
  justify-items: center; /* Center items horizontally */
  align-items: center;
  /* border: 1px solid black;  */
}

.horizontal-container {
    display: flex;
    align-items: center;
    gap: 0px; /* Adjust the gap between items as needed */
    padding :0px;
    margin:0px;
}

.mainButton {
  padding: 12px 17px 12px 17px;
  margin: 5px;
  /* background: var(--default-input-bgcolor); */
  background-image: var( --button-gradient);
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

input:disabled,
input[disabled] {
  background-image: none;
  background-color: #575454b3;
}

.confetti-container {
  position: absolute;
  top: -100;
  left: -100;
  width: 100%;
  height: 100%;
  background-color: transparent;
  pointer-events: none;
  overflow:hidden;
  z-index: 8;
}

.confetti {
  position: absolute;
  font-size: 34px;
  opacity: 0;
  animation: confetti-fall 10s linear infinite;
}

@keyframes confetti-fall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

h3{
  padding: 4px;
  font-size: medium;
}

/* Grid for the input screen */
.grid-container-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 100%;
  max-width: 600px; 
  margin: 0 auto; /* Center the grid container */
  padding-top :10px;
}

.grid-item-input {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: rgba(254, 254, 254, 0.5);
  border: 1px solid black;
  border-radius: 5px;
}

.grid-item-input.label {
  justify-content: flex-end;
  text-align: right;
  padding-right: 20px;
  background-color: rgba(254, 254, 254, 0.5);
  color: black;
  text-shadow: none;
  font-weight: bold;
}

.grid-item-input.input {
  justify-content: flex-start;
  text-align: left;
  padding-left: 10px;
  color: black;
}

.grid-item-input input {
  width: 100%;
  padding: 10px!important;
  border: 1px solid black!important;
  border-radius: 5px!important;
  color: black;
}

.grid-item-input select {
  width: 100%;
  padding: 5px;
  border: 1px solid black!important;
  border-radius: 5px;
  color: black;
}

.grid-item-input button {
  width: 100%;
  padding: 5px;
  border: 1px solid black!important;
  border-radius: 5px;
  color: black;
  background-image: var( --button-gradient);
}
/* Grid for the input screen */