/* Vertical - like the phone */
@media screen and (orientation: portrait) {
  html,
  body {
    font-size: 2vh;
  }
  .menuDiv{
    background-color:rgb(194, 192, 192);  
    color:black;
    width:100%;
    height:4%;
    text-align: center;
    font-weight: 550;
    font-size: 3.5vh;
  }
  .pokerTableDiv{
    width: 70%;
    background-color: green;
    height:50%;
    border-radius:10px;
    border-style: ridge;
    border-color: gold;
    border-width:2%;
    position: absolute;
    top:7%;
    left:15%;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
  }
  .playerDiv{
    background-color: rgb(214, 214, 214);
    height:12%;
    width:22%;
    border-radius:10px;
    border-style: ridge;
    border-color: gold;
    border-width:2%;
    position: absolute;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
  }

  .playerDivTurn{
    background-color: white;
    height:12%;
    width:22%;
    border-width:5px;
    border-style: solid;
    border-image: conic-gradient(from var(--angle), red, yellow,blue, red) 1;
    animation: 10s rotate linear infinite;
    position: absolute;    
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
  } 

  .playerDivDealer{
    background-color: rgb(214, 214, 214);
    height:12%;
    width:22%;
    border-radius:10px;
    border-style: ridge;
    border-color: blue;
    border-width:2%;
    position: absolute;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
  }

  .playerFoldedDiv{
    background-color: rgb(104, 100, 100);
    height:12%;
    width:22%;
    border-radius:10px;
    border-style: ridge;
    border-color: rgb(46, 44, 33);
    border-width:2%;
    position: absolute;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
  }

  .playerTopLeft{
    top:1%;
    left:24%;
  }
  .playerTopRight{
    top:1%;
    left:52%;
  }
  .playerTopCenter{
    top:1%;
    left:39%;
  }
  .playerRightTop{
    top:14%;
    left:75%;
  }
  .playerRightCenter{
    top:28%;
    left:75%;
  }
  .playerRightBottom{
    top:42%;
    left:75%;
  }
  .playerLeftTop{
    top:14%;
    left:1%;
  }
  .playerLeftCenter{
    top:28%;
    left:1%;
  }
  .playerLeftBottom{
    top:42%;
    left:1%;
  }
  .playerCurrent{
    top:50%;
    left:39%;
  }
  .playerPot{
    top:25%;
    left:39%;
  }
  
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-weight: bold;
  }

 }

/* Horizontal, like good old browser */
@media screen and (orientation: landscape) {
  html,
  body {
    font-size: 3vh;
  }
  .smallitalic {
    font-size: 2vh;
    font-style: italic;
  }
  .menuDiv{
    background-color:rgb(194, 192, 192); 
    color:black;
    width:100%;
    height:4%;
    text-align: center;
    font-weight: 550;
    font-size: 3.5vh; 
  }
  .pokerTableDiv{
    width: 40%;
    background-color: green;
    height:80%;
    border-radius:10px;
    border-style: ridge;
    border-color: gold;
    border-width:2%;
    position: absolute;
    top:9%;
    left:3%;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
  }
  .playerDiv{
    background-color: rgb(214, 214, 214);
    height:15%;
    width:10%;
    border-radius:10px;
    border-style: ridge;
    border-color: gold;
    border-width:2%;
    position: absolute;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
  }

  .playerDivTurn{
    background-color: white;
    height:15%;
    width:10%;
    border-style: solid;
    border-width:5px;
    border-image: conic-gradient(from var(--angle), red, yellow,blue, red) 1;
    animation: 10s rotate linear infinite;
    position: absolute;
    text-align: center;
  } 

  .playerDivDealer{
    background-color: rgb(214, 214, 214);
    height:15%;
    width:10%;
    border-radius:10px;
    border-style: ridge;
    border-color: blue;
    border-width:2%;
    position: absolute;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
  }

  .playerFoldedDiv{
    background-color: rgb(104, 100, 100);
    height:15%;
    width:10%;
    border-radius:10px;
    border-style: ridge;
    border-color: rgb(46, 44, 33);
    border-width:2%;
    position: absolute;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
  }

  .playerTopLeft{
    top:1%;left:10%;
  }
  .playerTopRight{
    top:1%;left:26%;
  }
  .playerTopCenter{
    top:1%;left:18%;
  }
  .playerRightTop{
    top:20%;left:35%;
  }
  .playerRightCenter{
    top:42%;left:35%;
  }
  .playerRightBottom{
    top:65%;left:35%;
  }
  .playerLeftTop{
    top:20%;left:1%;
  }
  .playerLeftCenter{
    top:42%;left:1%;
  }
  .playerLeftBottom{
    top:65%;left:1%;
  }
  .playerCurrent{
    top:82%;left:18%;
  }
  .playerPot{
    top:40%;left:18%;
  }

  .footer {
    margin-top: 5%;
    margin-right: 1%;
    float: right;
    width: 50%;
    font-weight: bold;
  }
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
table{
  padding:0;
  margin:0;
  width:100%;
  /* border: solid rgba(45, 250, 0, 0.5); */
}
.even5td{
  width: 20%;
  padding:0;
  margin:0;
  text-align: center;
  /* border: solid rgba(0, 0, 0, 0.5); */
}

img{
  width: 75%;
  height: 75%;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0; 
  font-family:Arial, Helvetica, sans-serif, Geneva, Tahoma, sans-serif;
  background-color: #705000;
  background-image: url("/images/wood-pattern.png");
}

input{
  padding: 10%; 
  margin: 5px; 
  background: rgb(235, 200, 155);
  border-radius: 5px;
  font-weight: bold;
}

.screenInput{
  padding:2px; 
  margin:0px; 
  background: white;
  border-radius: 5px;
  font-weight: bold;
}

.voteButton{
  padding: 2%; 
  margin-left: 1%; 
  width:98%;
  background: rgb(235, 200, 155);
  border-radius: 5px;
  font-weight: bold;
  position:absolute;
  bottom:0;
  left:0;
}

input:disabled,
input[disabled]{
  opacity: 0.7;
  background-color: rgb(87, 84, 84);
}

textarea{
  width:99%;
  background-color:white;
  opacity: 0.7;
  font-weight: 900;
  font-style: oblique;
  resize: none;
  border-radius:10px;
  border-style: ridge;
  border-color: rgb(0, 0, 0);
  border-width:2%;
}

.stInput{
  padding: 1%; 
  margin: 5px; 
  background: rgb(255, 255  , 255);
  border-radius: 5px;
  font-weight: bold;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  12% {
    opacity: .25;
  }
  25% {
    opacity: .50;
  }
  33% {
    opacity: .75;
  }
  50% {
    opacity: 1;
  }
  62% {
    opacity: .75;
  }
  75% {
    opacity: .50;
  }
  87% {
    opacity: .25;
  }
  100% {
    opacity: .12;
  }
}
.blink {
  animation: blinking .6s;
  animation-iteration-count: 5;
}

.slider {
  -webkit-appearance: none;
  height: .001px;
  background: black;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1vw;
  height: 5vw;
  background: white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 1vw;
  height: 5vw;
  background: white;
  cursor: pointer;
}

input[type=range]{
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
   transform: rotate(270deg);
}

.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px; 
  /* margin-left: -175px;
  margin-top: -175px; */
  background-color: var(--default-background-color) ; 
  /* border:3px solid var(--default-border-color); */
  /* border-radius: 3px; */
  /* box-shadow: var(--default-shadow); */
}
