:root {
  --default-input-bgcolor: rgb(235, 200, 155);
}

  .smallitalic {
    font-size: 2vh;
    font-style: italic;
    color: rgb(100, 100, 100);
  }

  .imgreduced {
    width: 50px;
    height: 50px;
  }



.additionalInputDiv {
  background-color: white;
  color: black;
  width: 85%;
  height: 90%;
  left: 8%;
  top: 8%;
  position: absolute;
  background-image: url('../images/wood-pattern.png');
  border-radius: 10px;
  z-index: 30;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

img {
  width: 75%;
  height: 75%;
}


input {
  padding: 10%;
  margin: 5px;
  background: var(--default-input-bgcolor);
  border-radius: 5px;
  font-weight: bold;
}

.screenInput {
  padding: 2px;
  margin: 0px;
  background: white;
  border-radius: 5px;
  font-weight: bold;
}

.stInput {
  padding: 1%;
  margin: 5px;
  background: white;
  border-radius: 5px;
  font-weight: bold;
}

.stInputDefaultcolor {
  padding: 1%;
  margin: 5px;
  background: var(--default-input-bgcolor);
  border-radius: 5px;
  font-weight: bold;
}

input:disabled,
input[disabled] {
  opacity: 0.7;
  background-color: rgb(87, 84, 84);
}
.modalOuterDiv {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalInnerDiv {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 25%;
  top: 25%;
  background-color: rgba(254, 254, 254, 1);
  border: 3px ridge black;
  border-radius: 15px;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
}

.menu {
  position: absolute;
  left: 5px;
  top: 20px;
  width: 95%;
  padding: 5px;
  background-color: white;
  color: black;
  opacity: 0.9;
  border: 3px solid black;
  border-radius: 5px;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
  z-index:3;
}



/*=============================================*/

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/wood-pattern.png");
  font-family: Arial, Helvetica, sans-serif, Geneva, Tahoma, sans-serif;
  background-color: #705000;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); 
  font-size: 3vh;
}

.outerContainer {
  display: grid;
  width: 99%;
  height: 99%;
  grid-template-areas:
  "top middle"
  "top bottom";
  grid-template-columns: 65% 35%;
  grid-template-rows: 22% auto;
}

.topSection {
  grid-area: top;
  display: flex;
  justify-content: center;
  align-items: top;

}

.middleSection {
  grid-area: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* border: 2px solid white; */
}

.bottomSection {
  grid-area: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokerTableDiv {
  width: 80%;
  height: 80%;
  background-color: #228B22; 
  border: 20px solid transparent; /* Transparent border to create space */
  border-radius: 50%; /* Rounded corners to make it look like a table */
  background-clip: padding-box, border-box;
  background-image:
    linear-gradient( #228B22,  #3f883f, #228B22 ), 
    linear-gradient( #8b4513bb,#a0512ddd, #8b4513bb);/* Wood-like gradient */
  background-origin: border-box;
  background-clip: padding-box, border-box;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1), inset 0 0 10px  #000; 
  position: relative;
  z-index: 1;
  /* overflow: hidden; */
}

.playerGrid {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 0.1fr 1fr 1fr 1fr 0.1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 0.1fr 1fr .1fr 1fr 1fr;
  gap: 0px;
  margin:0px;
}

.grid-cell {
  border: 1px solid black; /* Border around each grid cell */
  z-index: 2;
}

.playerGrid > .playerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid transparent;  /* special effect may have border */
  color: white;
  border-radius: 50%;
  width: 100%;
  height:100%;
  /* box-sizing: border-box;  */
  margin: 0; /* Remove any margin */
  padding: 0; /* Remove any padding */
  /* overflow: hidden; */
  /* max-width: 100%;
  max-height: 100%; */
  z-index: 2; 
}

.playerTopLeft { grid-area: 1 / 4/ 1/ 5; }/* start row, start column, end row, end column */
.playerTopRight { grid-area: 1 / 6 / 1 / 7; }
.playerLeftTop { grid-area: 2 / 2 / 2 / 3; }
.playerLeftCenter { grid-area: 4 / 1 / 4/ 2; }
.playerLeftBottom { grid-area: 6 / 2 / 6 / 3; }
.playerRightTop { grid-area: 2/ 8 / 2 / 9; }
.playerRightCenter { grid-area: 4 / 9 / 4 / 9; }
.playerRightBottom { grid-area: 6 / 8 / 6 / 9; }
.playerCurrent { grid-area: 7 / 5 / 7 / 6; }
.playerTopCenter  { grid-area: 1/ 5 / 1 / 6; }
.playerPot { grid-area: 4 / 5 / 4 / 6; }

/* Phone */
@media (max-width: 768px) {
  .outerContainer {
    display: grid;
    width: 99%;
    height: 100%;
    grid-template-areas:
        "top"
        "middle"
        "bottom";
        grid-template-columns: 1fr;     
    grid-template-rows: 80% 10% 10%;
    padding: 0;
    margin: 0;
    gap: 0;
  }
  .bottomSection {
    grid-area: bottom;
  }
  .topSection {
    grid-area: top;
  }
  .middleSection {
    grid-area: middle;
  }
  .bottomSection {
    grid-area: bottom;
  }
  .grid-cell {
    border: 1px solid yellow;
  }
}

/* margin: 10px 20px 30px 40px; /* Top will have a margin of 10px, right will have a margin of 20px, bottom will have a margin of 30px, left will have a margin of 40px */
textarea {
  width: 100%;
  margin: 0 2px 0 2px;
  background-color: white;
  opacity: 0.7;
  font-weight: 900;
  font-style: oblique;
  resize: none;
  border-radius: 10px;
  border-style: ridge;
  border-color: rgb(0, 0, 0);
  border-width: 2%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
  width: 100%;
}

.grid-item {
  text-align: center;
}

.hr-item {
  grid-column: 1 / -1;
}

#winner-checkmark {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 5px;
}

#select-winner-logo {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 5px;
}

.dynamicGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5px, 1fr)); /* Adjust minmax values as needed */
  gap: 1px; /* Adjust the gap between grid items as needed */
  width: 99%;
}

.dynamicGrid > .grid-item-dynamic {
  background-color:transparent; /* Example background color */
  padding: 0px; /* Example padding */
  text-align: center; /* Center text */
  width:100%;
  height:100%;
}

.playerDealer {
  color:black!important;
  text-decoration-color: black;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5)!important; 
}

.playerTurn {
  position: relative;
  width:100%;
  height: 100%; 
  margin: 0; 
  padding: 0;
  border: 1px solid white!important; 
}

.playerTurn::before {
  content: '';
  position: absolute;
  width: 2px; /* Width of the spinning line */
  height: 40%; /* Length of the spinning line */
  background-color: white; /* Color of the spinning line */
  transform-origin: center;
  animation: spin 60s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg) translate(-50%, -50%);
  }
  100% {
      transform: rotate(360deg) translate(-50%, -50%);
      background-color: red;
  }
}

.playerOut {
  position: relative;
  width: 100%;
  height: 100%;
}

.playerOut::before,
.playerOut::after {
  content: '';
  position: absolute;
  width: 5px; 
  height: 90%; 
  background-color: rgb(61, 38, 38);
  transform-origin: center;
}

.playerOut::before {
  transform: rotate(45deg);
}

.playerOut::after {
  transform: rotate(-45deg);
}

.svg-container {
  width: 100px;
  height: 300px;
  border: 1px solid black;
  position: relative;
  margin: 0px;
}
.svg-column {
  position: absolute;
  bottom: 0;
  width: 100%;
  cursor: ns-resize;
}
.grid-container5x4 {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  grid-template-rows: repeat(4, 1fr); /* 4 rows */
  gap: 10px; /* Adjust the gap between grid items as needed */
  width: 100%;
  height: 100%;
}

.grid-item5x4 {
  display: flex;
  flex-direction: column;
  background-color: lightgray; /* Example background color */
  border: 1px solid black; /* Example border */
  justify-content: center;
  align-items: center;
  font-size: 1.5rem; /* Example font size */
}